# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Understand the concepts and languages of data science.
- know python and its libraries applied to data science
- Know about structured and unstructured data types
- learn basic concepts of SQL and R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matlotlib

|Data Science Tools|
|------------------|
|Rstudio|
|Jupyter Notebooks|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
horas = 200//60
minutos=200%60
print(f"{horas}:{minutos}")

3:20

## Author 
Jose Ramon Casas Condon